## Operations on Text Data

Throughout this assignment, the output of the cell and/or a comment will be provided.  One has to deduce the code that will be needed to produce the given output. The cells without any comment or output just need to be run. Good Luck!

In [5]:
#Importing all the required libraries
import pandas as pd
import numpy as np

In [17]:
india_news = pd.read_csv('../datasets/india-news-headlines-short.csv')

In [18]:
india_news

,Unnamed: 0,publish_date,headline_category,headline_text
0,0,20010102,unknown,Status quo will not be disturbed at Ayodhya; s...
1,1,20010102,unknown,Fissures in Hurriyat over Pak visit
2,2,20010102,unknown,America's unwanted heading for India?
3,3,20010102,unknown,For bigwigs; it is destination Goa
4,4,20010102,unknown,Extra buses to clear tourist traffic
...,...,...,...,...
3995,3995,20010505,unknown,90;000 MSU marksheets had a spelling mistake!
3996,3996,20010505,unknown,Another sandalwood tree felled on MSU campus
3997,3997,20010505,unknown,Another case of CAS violation on MSU campus
3998,3998,20010505,unknown,Petrol becomes cheaper; diesel dearer
3999,3999,20010505,unknown,Probe ordered into death of sparrows

### Basic Operations

In [19]:
#Store and print the rows of the column 'headline_category' in a single variable 'category'

0       unknown
1       unknown
2       unknown
3       unknown
4       unknown
         ...
3995    unknown
3996    unknown
3997    unknown
3998    unknown
3999    unknown
Name: headline_category, Length: 4000, dtype: object

In [20]:
#Store and print the rows of the column 'headline_text' in a single variable 'headlines'

0       Status quo will not be disturbed at Ayodhya; s...
1                     Fissures in Hurriyat over Pak visit
2                   America's unwanted heading for India?
3                      For bigwigs; it is destination Goa
4                    Extra buses to clear tourist traffic
                              ...
3995        90;000 MSU marksheets had a spelling mistake!
3996         Another sandalwood tree felled on MSU campus
3997          Another case of CAS violation on MSU campus
3998                Petrol becomes cheaper; diesel dearer
3999                 Probe ordered into death of sparrows
Name: headline_text, Length: 4000, dtype: object

In [14]:
#Check the data-type of each column of the dataset.

publish_date          int64
headline_category    object
headline_text        object
dtype: object

In [21]:
# Pick a line from the 'headline_text' using a generated random number and store it in variable 'line'.
# Challenge : Do it in a single line of code. (It can be displayed using another line of code.)

'Four more Iranians admit to role in serial murders'

In [22]:
# Convert each letter of the 'line' variable to uppercase.

'FOUR MORE IRANIANS ADMIT TO ROLE IN SERIAL MURDERS'

In [23]:
# Convert each letter of the 'line' variable to lowercase.

'four more iranians admit to role in serial murders'

In [24]:
# Find the length of the string stored in 'line'.

50

In [27]:
# Capitalize the string store in 'line'.

'Four more iranians admit to role in serial murders'

In [28]:
# Check if the string begins with the word 'The'.

False

In [29]:
# Challenge: Find the number of strings that start with the word 'The' in the dataset column 'headline_text'.
# It may take time if you use a for loop. Try some other approach?

114

### Intermediate Exercises

In [30]:
india_news['headline_text']

0       Status quo will not be disturbed at Ayodhya; s...
1                     Fissures in Hurriyat over Pak visit
2                   America's unwanted heading for India?
3                      For bigwigs; it is destination Goa
4                    Extra buses to clear tourist traffic
                              ...
3995        90;000 MSU marksheets had a spelling mistake!
3996         Another sandalwood tree felled on MSU campus
3997          Another case of CAS violation on MSU campus
3998                Petrol becomes cheaper; diesel dearer
3999                 Probe ordered into death of sparrows
Name: headline_text, Length: 4000, dtype: object

In [32]:
# Extract the first 6 characters of each row of the column 'headline_text' of the dataset.

0       Status
1       Fissur
2       Americ
3       For bi
4       Extra
         ...
3995    90;000
3996    Anothe
3997    Anothe
3998    Petrol
3999    Probe
Name: headline_text, Length: 4000, dtype: object

In [33]:
# Split the words of the string stored in the 'line' variable and print the first 2 words.

['Four', 'more']

In [34]:
#Challenge: Print all the unique words in the variable 'line'. Hint: Use the 'split' function.

murders
admit
more
Four
Iranians
to
role
serial
in

In [35]:
#Find the position of the word 'The' in the 'line' variable, if not present then search for any word that you know that is present in that string.
#What is printed when the word isn't present in the string? Google why!
line.find('The')

-1

In [36]:
#Find the number of times the word 'The' occurs in the 'line' variable.
line.count('The')

0

In [44]:
# Print characters from string stored in 'line' variable by skipping each second letter.
# Note: Whitespaces are counted as characters.

'Fu oeIain di orl nsra udr'

In [37]:
# Challenge: Find the word that occurs with the highest frequency in the string stored in the 'line' variable.
# Print 'None' if all words have the same frequency.

None

In [ ]:
# Final Challenge: Find the frequency of each character in the string stored in 'line' variable in the form of a dictionary. 
# No output has been provided to make sure the student tries to solve a problem with no hint. :)

#### References

1. https://www.kaggle.com/therohk/india-headlines-news-dataset/version/3
2. https://www.learnpython.org/en/Basic_String_Operations